@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --color-cream: var(--cream);
}

:root {
  --background: #ededed;
  --foreground: #ededed;

  --primary: #ff6235;
  --secondary: #d2edff;
  --tertiary: #ffc3c3;
  --quaternary: #2bb673;
  --quinary: #fef232;
  --cream: #faf4f2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
